:root{

--peach:#ecb08b;

--cream:#f2f7f3;

--white:#ffffff;

--lavender:#efeafe;

--blue:#eaf3f8;

--yellow:#fff4d8;

--green:#8dbb9c;

--red:#dc8d8d;

--text:#433a34;

--muted:#8b8179;

}



*{

box-sizing:border-box;

font-family:"Poppins",sans-serif;

}



body{

margin:0;

background:var(--cream);

color:var(--text);

}





.app{

max-width:430px;

margin:auto;

padding:

25px 18px 45px;

}






/* HEADER */


.header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:22px;

}



.header button{

width:40px;

height:40px;

border:none;

border-radius:50%;

background:white;

}



.header h1{

margin:0;

font-size:28px;

}



.header p{

margin:5px 0;

font-size:13px;

color:var(--muted);

}







/* GENERAL CARD */


.card{

background:white;

border-radius:24px;

padding:20px;

margin-bottom:18px;

box-shadow:

0 8px 20px rgba(0,0,0,.05);

}



.card h3{

font-size:16px;

margin-top:0;

}







/* TOGGLE */


.toggle{

display:flex;

gap:10px;

margin-top:15px;

}



.toggle button{

flex:1;

padding:13px;

border:none;

border-radius:16px;

background:#f5f5f5;

}



.toggle button.active{

background:#eaf4ec;

color:#6f9d79;

}







/* HERO */


.hero{

background:white;

border-radius:28px;

padding:25px;

text-align:center;

margin-bottom:18px;

box-shadow:

0 10px 22px rgba(0,0,0,.05);

}



.gift-icon{

width:60px;

height:60px;

margin:auto;

border-radius:50%;

background:#faeadf;

display:flex;

align-items:center;

justify-content:center;

font-size:30px;

color:var(--peach);

}



.hero p{

margin-bottom:5px;

color:var(--muted);

}



.hero h1{

font-size:40px;

margin:5px 0 15px;

}



.badge{

background:#eaf4ec;

color:#6f9d79;

padding:8px 16px;

border-radius:20px;

font-size:13px;

}





/* NOT RECEIVED */


.empty-icon{

font-size:45px;

color:var(--peach);

text-align:center;

}



.card p{

color:var(--muted);

font-size:13px;

}



.year-card{

background:var(--yellow);

padding:15px;

border-radius:16px;

margin-top:15px;

text-align:center;

font-size:14px;

}








/* INPUT */


.input-box{

display:flex;

background:#fafafa;

padding:13px;

border-radius:15px;

}



.input-box input{

border:none;

background:none;

outline:none;

width:100%;

font-size:18px;

}









/* ALLOCATION */


.allocation-card{

display:flex;

align-items:center;

gap:15px;

padding:16px;

border-radius:20px;

margin-bottom:12px;

}



.allocation-card i{

font-size:25px;

}



.allocation-card div{

flex:1;

}



.allocation-card span{

display:block;

font-size:13px;

}



.allocation-card input{

width:100%;

margin-top:5px;

padding:10px;

border:none;

background:white;

border-radius:12px;

font-size:16px;

}




.savings{

background:#eaf4ec;

color:#6f9d79;

}



.goals{

background:var(--lavender);

color:#8c68d9;

}



.expense{

background:#fff0e7;

color:#dc9660;

}







/* STATUS */


.status-card{

background:var(--yellow);

border-radius:24px;

padding:20px;

margin-top:10px;

}



.status-row{

display:flex;

justify-content:space-between;

margin:12px 0;

}



.status-row span{

color:var(--muted);

}



.status-badge{

background:white;

border-radius:15px;

padding:12px;

text-align:center;

font-weight:600;

color:#6f9d79;

}







/* BUTTON */


.confirm-btn{

width:100%;

border:none;

background:var(--peach);

color:white;

padding:15px;

border-radius:18px;

font-size:15px;

margin-top:15px;

}






.hidden{

display:none;

}