:root{

--peach:#ecb08b;

--cream:#f2f7f3;

--white:#ffffff;

--lavender:#efeafe;

--text:#433a34;

--muted:#8b8179;

}



*{

box-sizing:border-box;

font-family:"Poppins",sans-serif;

}



body{

margin:0;

background:var(--cream);

color:var(--text);

}



.app{

max-width:430px;

margin:auto;

padding:

25px 18px 45px;

}





.header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:22px;

}



.header button{

width:40px;

height:40px;

border:none;

border-radius:50%;

background:white;

}



.header h1{

margin:0;

font-size:28px;

}



.header p{

margin:5px 0;

font-size:13px;

color:var(--muted);

}





.card{

background:white;

border-radius:24px;

padding:20px;

margin-bottom:18px;

box-shadow:

0 8px 18px rgba(0,0,0,.05);

}





.goal-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:12px;

margin-top:15px;

}



.goal-grid button{

border:none;

background:var(--lavender);

border-radius:18px;

padding:18px 10px;

display:flex;

flex-direction:column;

align-items:center;

gap:8px;

}



.goal-grid i{

font-size:24px;

}



.goal-grid button.selected{

background:#faeadf;

outline:

2px solid var(--peach);

}





label{

display:block;

font-size:13px;

color:var(--muted);

margin-top:15px;

margin-bottom:6px;

}





input{

width:100%;

padding:13px;

border-radius:14px;

border:1px solid #ddd;

outline:none;

}



.money-input{

display:flex;

background:#fafafa;

padding:12px;

border-radius:14px;

}



.money-input input{

border:none;

background:none;

padding:0;

}




.create-btn{

width:100%;

border:none;

background:var(--peach);

color:white;

padding:15px;

border-radius:18px;

font-size:15px;

}



.hidden{

display:none;

}