:root{

--peach:#ecb08b;
--cream:#f2f7f3;

--white:#ffffff;

--lavender:#efeafe;
--blue:#eaf3f8;
--yellow:#fff4d8;

--green:#8dbb9c;

--text:#433a34;
--muted:#8b8179;

}



*{

box-sizing:border-box;
font-family:"Poppins",sans-serif;

}



body{

margin:0;
background:var(--cream);
color:var(--text);

}



.app{

max-width:430px;

margin:auto;

padding:

25px 18px 45px;

}





.header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:22px;

}



.header button{

height:40px;

width:40px;

border:none;

border-radius:50%;

background:white;

}



.header h1{

margin:0;

font-size:28px;

}



.header p{

margin:5px 0;

font-size:13px;

color:var(--muted);

}







.hero{

background:white;

border-radius:28px;

padding:22px;

box-shadow:

0 8px 20px rgba(0,0,0,.05);

margin-bottom:22px;

}



.hero p{

color:var(--muted);

}



.hero h1{

font-size:38px;

margin:8px 0;

}



.available{

background:var(--blue);

padding:14px;

border-radius:18px;

display:flex;

justify-content:space-between;

}







h2{

font-size:18px;

}







.allocation-card{

background:white;

border-radius:24px;

padding:18px;

margin-bottom:16px;

box-shadow:

0 8px 18px rgba(0,0,0,.05);

}





.section-header{

display:flex;

align-items:center;

gap:12px;

}



.section-header div:nth-child(2){

flex:1;

}



.section-header h3{

margin:0;

font-size:16px;

}



.section-header p{

margin:3px 0;

font-size:12px;

color:var(--muted);

}



.section-header button{

border:none;

background:var(--peach);

color:white;

height:32px;

width:32px;

border-radius:50%;

}





.icon{

height:42px;

width:42px;

border-radius:14px;

display:flex;

align-items:center;

justify-content:center;

font-size:20px;

}



.purple{

background:var(--lavender);

}



.yellow{

background:var(--yellow);

}



.green{

background:#eaf4ec;

}



.blue{

background:var(--blue);

}








.item{

display:flex;

align-items:center;

gap:10px;

background:#fafafa;

padding:12px;

border-radius:15px;

margin-top:10px;

}



.item span{

flex:1;

font-size:14px;

}



.item input{

width:90px;

padding:8px;

border:none;

border-radius:10px;

}





.item button{

border:none;

background:none;

color:#d88;

}






.allocation-row{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:15px;

}



.allocation-row input{

width:100px;

padding:10px;

border-radius:12px;

border:1px solid #ddd;

}






.status-card{

background:var(--yellow);

border-radius:24px;

padding:20px;

margin-top:20px;

}



.status-row{

display:flex;

justify-content:space-between;

margin:12px 0;

}



#statusBadge{

background:white;

padding:12px;

border-radius:15px;

text-align:center;

font-weight:600;

color:#6f9d79;

}



.save-btn{

width:100%;

margin-top:18px;

padding:15px;

border:none;

border-radius:18px;

background:var(--peach);

color:white;

}