*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
"Plus Jakarta Sans",
sans-serif;

background:#f2f7f3;

color:#4a4038;

}



.planner{

padding:20px;

}



.header{

display:flex;

align-items:center;

gap:15px;

margin-bottom:20px;

}



.header button{

width:42px;

height:42px;

border:none;

border-radius:50%;

background:white;

font-size:20px;

}



.header h1{

margin:0;

font-size:24px;

font-weight:800;

}


.header p{

margin:5px 0;

font-size:13px;

color:#8b8178;

}





.card{

background:white;

padding:20px;

border-radius:24px;

margin-bottom:16px;

box-shadow:
0 8px 18px rgba(0,0,0,.04);

}



.card h2{

font-size:18px;

margin-top:0;

}





label{

font-size:14px;

font-weight:600;

}



.input-box{

display:flex;

align-items:center;

background:#fff4d8;

border-radius:16px;

padding:12px;

margin:10px 0 18px;

}



.input-box span{

color:#ecb08b;

font-weight:800;

}



.input-box input{

border:none;

background:none;

outline:none;

width:100%;

font-size:18px;

margin-left:10px;

}





.summary-highlight{

background:#efeafe;

padding:16px;

border-radius:18px;

display:flex;

justify-content:space-between;

}





.expense-item{

display:flex;

justify-content:space-between;

align-items:center;

margin:14px 0;

}



.expense-item input{

width:100px;

padding:10px;

border-radius:12px;

border:1px solid #ddd;

text-align:right;

}




.summary-row{

display:flex;

justify-content:space-between;

padding:12px 0;

}



#message{

font-size:14px;

font-weight:600;

}



.reset{

width:100%;

padding:15px;

border:none;

border-radius:18px;

background:#ecb08b;

font-weight:700;

font-size:15px;

}